<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Symbiosity - FDMS</h2>
              <hr class="light">

              <p class="text-faded">
                Symbiosity is a startup company within the Fire and Safety Market offering
                Fire Detection and Monitoring; Fire Plan, Consultation and Fire Training.
              </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h3 class="section-heading">Meet the Founder.</h3>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
              <a href="{{ site.data.members.moses.website }}" class="social-link">
                <img src="{{ site.data.members.moses.image }}" alt="{{ site.data.members.moses.name }}" class="person wow bounceIn">
                <p>{{ site.data.members.moses.name }}</p>
              </a>
              <p class="description">
                Moses is a firefighter with extensive knowledge in fire prevention, fire protection, fire safety for over a decade,
                and <abbr title="Fire and Safety">EXPERIENCE</abbr>.
                He's a graduate of <a href="https://fi.co">Founders Institute</a> and he is very passionate and enjoys working on complete application
                from conception to reality. When not thinking about fire and safety,
                Moses likes to <a href="https://www.houseoffennel.com">fashion</a>, travel, read and cycle.
              </p>
             <p>
                <a href="{{ site.data.members.moses.website }}" class="social-link" title="{{ site.data.members.moses.name }}'s Blog">
                  <i class="fa fa-globe fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="https://twitter.com/{{ site.data.members.moses.twitter }}" class="social-link" title="@{{ site.data.members.moses.twitter }}">
                  <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="mailto:{{ site.data.members.moses.email }}" class="social-link" title="{{ site.data.members.moses.email }}">
                  <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                </a>
                <!--<a href="https://github.com/{{ site.data.members.moses.github }}" class="social-link" title="{{ site.data.members.moses.github }}">
                  <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".3s"></i>
                </a>
                <a href="https://gitlab.com/{{ site.data.members.moses.gitlab }}" class="social-link" title="{{ site.data.members.moses.gitlab }}">
                  <i class="fa fa-gitlab fa-2x wow bounceIn" data-wow-delay=".4s"></i>
                </a>-->
              </p>
            </div>
            <div class="col-lg-4 col-lg-offset-0 text-center">
              <a href="{{ site.data.members.company.website }}" class="social-link">
                <img src="{{ site.data.members.company.image }}" alt="{{ site.data.members.company.name }}" class="person wow bounceIn">
                <p>{{ site.data.members.company.name }}</p>
              </a>
              <p class="description">
                Symbiosity is a Fire and Safety company, launched at <a href="https://fi.co">Founders Institute</a> offering Fire Detection & Management in the Fire and Safety market for commercial and industrial companies. 
                This will be done 24/7 through an Emergency Control Centre to monitor all fire detection occurrence within the property. 
                Symbiosity offers Fire and Safety trainings, fire plans, fire consultations and architectural building evacuation floor plan/map.
                <a href="#portfolio">Learn More</a>. Get on board early and reap the benefits
              </p>
              <p>
                <a href="{{ site.data.members.company.website }}" class="social-link" title="{{ site.data.members.company.name }}'s Blog">
                  <i class="fa fa-globe fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <!--<a href="https://twitter.com/{{ site.data.members.company.twitter }}" class="social-link" title="@{{ site.data.members.company.twitter }}">
                  <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>-->
                <a href="mailto:{{ site.data.members.company.email }}" class="social-link" title="{{ site.data.members.company.email }}">
                  <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                </a>
               </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                </br><h2 class="section-heading">STARTUP JURISDICTION :: Jamaica, West Indies. </br></br>
              <a href="#contact" class="btn btn-default btn-xl">Contact Symbiosity</a>
            </div>
        </div>
    </div>
</section>
