<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                founder@symbiosity.co
                <hr class="primary">
            </div>
              <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="mailto:{{ site.data.members.company.email }}" title="{{ site.data.members.company.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
              </a>
            </div>
             <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="mailto:{{ site.data.members.moses.email }}" title="{{ site.data.members.moses.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
              </a>
            </div>
             <!--
            <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="https://twitter.com/{{ site.data.members.company.twitter }}" title="@{{ site.data.members.company.twitter }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              </a>
            </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="https://facebook.com/{{ site.data.members.company.facebook }}" title="Facebook">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              </a>
            </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="https://www.linkedin.com/company/{{ site.data.members.company.linkedin }}" title="LinkedIn">
                <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".2s"></i>
              </a>
            </div>
           <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="https://www.youtube.com/channel/{{ site.data.members.company.youtube }}" title="YouTube">
                <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".3s"></i>
              </a>
            </div>
            <div class="col-lg-1 col-lg-offset-1 text-center">
              <a href="https://gitlab.com/{{ site.data.members.company.gitlab }}" title="{{ site.data.members.company.gitlab }}">
                <i class="fa fa-gitlab fa-3x wow bounceIn" data-wow-delay=".3s"></i>
              </a>
            </div>-->
            <!--mailchimp popup script--><script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"7de0c41b59cc6d422a4eb51c3","lid":"1d766bf5f3"}) })</script>
        </div>
    </div>
</section>
