<div class="nav-bar-brand"><p class="text-center">© <a class="brand-chill" href="#" alt="go up">SYMBIOSITY <span class="brand-coding">F<span class="brand-o">D</span>MS</span></a> - Fire Detection and Management System - Jamaica, West Indies.</p></div>
