<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>24/7 Live Fire Detection and Monitoring.</h1>
            <!--Mailchimp signup form--><center>
                <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:50%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://symbiosity.us17.list-manage.com/subscribe/post?u=7de0c41b59cc6d422a4eb51c3&amp;id=1d766bf5f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7de0c41b59cc6d422a4eb51c3_1d766bf5f3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup--></center>
            <hr class="primary">
            <p><strong>Fire Prevention is better than Fire Recovery. Live 24 hours Fire Detection and Monitoring, Coming Soon</strong>. Stay in touch and be the first to get on board and benefit from <strong>Additional Features</strong>
             and <strong>Services</strong>.</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
</div>
</header>
