<section class="no-padding" id="portfolio">
  <div class="container-fluid">
         <div class="row">   <div class="col-lg-12 text-center">
      <!--
      <div class="col-lg-4 col-sm-6">
              <a href="/app/bachamada" class="portfolio-box" title="Bachamada – Healthy Heart Rate">
                  <img src="/assets/img/portfolio/bachamada.jpg" class="img-responsive" alt="Bachamada – Healthy Heart Rate">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Android
                          </div>
                          <div class="project-name">
                              Healthy Heart Rate
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          -->
          <div class="col-lg-4 col-sm-6">
              <!-- add monitoring image-->
     <div class="col-lg-4 col-lg-offset-0 text-center">
     <a href="#services" class="">
           <img src="/assets/img/portfolio/monitoring.png" alt="Fire Detection Management" class="">
         <p>FDMS</p>
         </a> 
        </div>
         <!-- end monitoring image--> 
</div>
<div class="col-lg-4 col-sm-6">
              <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://facebook.us17.list-manage.com/subscribe/post?u=7de0c41b59cc6d422a4eb51c3&amp;id=a3725a0451" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE5">Company </label>
	<input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE6">Position </label>
	<input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7de0c41b59cc6d422a4eb51c3_a3725a0451" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div> </div>
<!--End mc_embed_signup-->
</div>
          <!--<div class="col-lg-4 col-sm-6">
              <a href="http://creativeandlive.com" class="portfolio-box" title="Creative&Live – Web magazine for creative people">
                  <img src="/assets/img/portfolio/creativeandlive.jpg" class="img-responsive" alt="Creative&Live – Web magazine for creative people">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Creative&Live
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          {% comment %}
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/assets/img/portfolio/4.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web & Android
                          </div>
                          <div class="project-name">
                              GeoSport
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/assets/img/portfolio/creativeandlive.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Creative and Live
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/assets/img/portfolio/6.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Data Visu
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          {% endcomment %}-->
      </div>
  </div>
  </div></div>
</section>
