<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <br>For further information, contact Moses Fennel
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>Live Monitoring</h3>
                    <p class="text-muted">We offer Fire Detection Management to protect lives, businesses and assets, 
                    rometely via a 24 hours Control Centre to deliver ideal Fire Detection and Monitoring solution. 
                    Thanks to our experience <abbr title="Symbiosity - FDMS">Team</abbr> expertise.<br><a href="/formations">Learn More</a></p>
                </div>
            </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
              <h3>Training</h3>
              <p class="text-muted"> We organize & customise Fire Training Sessions. <br>
               <li>Portable Fire Extinguishers theory and practical operations</li> 
               <li>Fire Warden / Safety Marshall</li>
               <li>Fire Safety Awareness</li>
               The chief trainer enjoys a career in the fire brigade and is expert in his field.
              </p>
            </div>
          </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Fire Planning</h3>
                    <p class="text-muted">We realize your problem and offer the ultimate solution - Detailed Architectural Fire Plan, Evacuation Plan.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-heart-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h3>Fire Consultation</h3>
                <p class="text-muted">Fire systems layout, Fire extinguisher types and layout, Evacuation routes, Assemble points, Building planning</p>
              </div>
            </div>
        </div>
    </div>
</section>
