<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="page-top" class="homepage">
    {% include nav.html %}
    {% include header.html %}
    {% include services.html %}
    {% include portfolio.html %}
    {% include about.html %}
    {% include adsense.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include scripts.html %}
    {% include analytics.html %}
  </body>
</html>
